
.form {
  margin-top: 10%;
  height: 20%;
  #input-field {
      border: thin solid lightgrey;
      border-radius: 17px;
      margin-top: 2%;
      width: 95%;
      margin: 2%;
  }
}


.vp{
  width: 100%;
  height: 80%;
}

#card{
  background-color:  grey;
  opacity: 0.7;
  color: white;
  font-size: 17px
}